.contact-us__bg-map {
    height: 682px;
    background-repeat: no-repeat;
    background-image: url(/images/map-desktop.svg);
    background-size: cover;
    width: 100%;
    position: absolute;
    background-size: 1097px;
    top: 8px;
    left: 20px;
}

.contact-us__content {
    min-height: 682px;
}
